@import '../../assets/style/variables';
.OurServices {
  background-color: $colorLightGray;

  .OurServices__wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 18px;
  }
  .OurServices__listItem {
    padding: 18px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 30px;

    text-align: center;

    background-color: $colorLightGray;
    border: 2px solid $colorWhite;

    transition: background-color .2s linear;

    &:hover, &:focus {
      background-color: $colorWhite;
    }

    img {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}