.App {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.humans {
  display: grid;
  grid-template-columns: minmax(250px, 300px) minmax(250px, 300px) minmax(250px, 300px);
  grid-gap: 25px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.toggleBtn {  
  width: 250px;
  
  background-color: #eee;
  display: block;
  margin-bottom: 30px;
  padding: 10px;
}