.form__wrapper {
  box-sizing: border-box;
  padding: 30px 20px;
  padding-top: 0;
  background-color:#eee; 
  
  border: 2px solid #eee;

  transition: border .15s linear;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.form__wrapper:hover {
  border-color: tomato;
}
label {
  display: flex;
  align-items: baseline;  
  margin-top: 10px;

}
form input[type="text"] {
  
  background-color: #ffffff;
  min-width: 200px;
  border: none;
}
form input[type="number"] {
  
  border: none;
  text-align: right;
  min-width: 200px;
  display: block;
  padding: 5px;
}

form span {
  font-size: 17px;
}
form input[type="submit"] {
  border: 2px solid tomato;  
  padding: 5px;

  transition: background .15s linear;
}
form input[type="submit"]:hover {
  background: tomato;
} 

