.app {
  box-sizing: border-box;
}

.head {
  background-color:  brown;
  padding: 10px 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  padding: 0 10px;
}
.titleApp {
  text-align: center;
  padding: 20px;
}
.currency {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(200px, auto);
  padding: 20px;
}
.ExCalc {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}