.Header {
  display: block;
  position: sticky;

  height: 130px;
  top: 0;
  background-color: #fff;

  z-index: 600;

  .Header__menu {
    position: relative;
  }

  .Header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
  }
}