.PopularGoods {
  &__wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 18px;

    list-style: none;

    padding: 0;

  }
}